<ion-header>
  <ion-toolbar>
    <ion-title>Create Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="booking-card">
    <ion-item>
      <ion-label position="floating">Restaurant ID</ion-label>
      <ion-input [(ngModel)]="restaurantId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Restaurant Name</ion-label>
      <ion-input [(ngModel)]="restaurantName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Date & Time</ion-label>
      <ion-datetime 
        [(ngModel)]="dateTime" 
        presentation="date-time" 
        [min]="minDateTime" >
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Number of Guests</ion-label>
      <ion-input type="number" [(ngModel)]="guests" min="1"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="bookTable()" [disabled]="loading">
      {{ loading ? 'Booking...' : 'Book Table' }}
    </ion-button>
  </div>
</ion-content>
